<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rekomendasi Pokemon</title>
</head>
<body>
    <h1>Pokemon Favorit Anda</h1>
    <p>
        Name: {{ recm[0][0] }} <br>
        Type: {{ recm[0][1] }} <br>
        Generation: {{ recm[0][2] }} <br>
        Legendary: {{ recm[0][3] }}
    </p>
    <h1>Rekomendasi Pokemon</h1>
    <p>
        Name: {{ recm[1][0] }} <br>
        Type: {{ recm[1][1] }} <br>
        Generation: {{ recm[1][2] }} <br>
        Legendary: {{ recm[1][3] }}
    </p>
    <p>
        Name: {{ recm[2][0] }} <br>
        Type: {{ recm[2][1] }} <br>
        Generation: {{ recm[2][2] }} <br>
        Legendary: {{ recm[2][3] }}
    </p>
    <p>Name: {{ recm[3][0] }} <br>
        Type: {{ recm[3][1] }} <br>
        Generation: {{ recm[3][2] }} <br>
        Legendary: {{ recm[3][3] }}
    </p>
    <p>Name: {{ recm[4][0] }} <br>
        Type: {{ recm[4][1] }} <br>
        Generation: {{ recm[4][2] }} <br>
        Legendary: {{ recm[4][3] }}
    </p>
    <p>Name: {{ recm[5][0] }} <br>
        Type: {{ recm[5][1] }} <br>
        Generation: {{ recm[5][2] }} <br>
        Legendary: {{ recm[5][3] }}
    </p>
    <p>Name: {{ recm[6][0] }} <br>
        Type: {{ recm[6][1] }} <br>
        Generation: {{ recm[6][2] }} <br>
        Legendary: {{ recm[6][3] }}</p>
    <input type="submit" value="Kembali">
</body>
</html>